{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<div class="header">
    <div class="case">
        <p><a class="button" href="{% url 'create_ticket' %}">Demander une critique</a></p>
    </div>
    <div class="case">
        <p><a class="button" href="{% url 'create_review_ticket' %}">Créer une critique</a></p>
    </div>
</div>

<div class="content">
    <h2>Vos posts</h2>
    {% for post in posts %}
        {% if post.content_type == "TICKET" %}
            <div class="border">
                {% if post.user == user %}
                    <p>Vous avez publié un ticket</p>
                {% else %}
                    <p>{{ post.user }} a demandé une critique</p>
                {% endif %}
                <p>{{ post.time_created }}</p>
                <p>{{ post.title }}</p>
                <p>{{ post.description }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
                <p>
                    <a class="button" href="{% url 'create_review' post.id %}">Créer une critique</a>
                    <a class="button" href="{% url 'edit_ticket' post.id %}">Modifier la demande</a>
                </p>
            </div>
        {% else %}
            <div class="border">
                {% if post.user == user %}
                    <p>Vous avez publié une critique</p>
                {% else %}
                    <p>{{ post.user }} a publié une critique</p>
                {% endif %}
                <p>{{ post.time_created }}</p>
                <p>{{ post.headline }}</p>
                <p>{{ post.rating }}</p>
                <p>{{ post.body }}</p>
                <p><a class="button" href="{% url 'edit_review' post.id %}">Modifier la critique</a></p>
                <div class="border">
                    {% if post.ticket.user == user %}
                        <p>Ticket - Vous</p>
                    {% else %}
                        <p>Ticket - {{ post.ticket.user }}</p>
                    {% endif %}
                    <p>{{ post.ticket.time_created }}</p>
                    <p>{{ post.ticket.title }}</p>
                    <p>{{ post.ticket.description }}</p>
                    {% if post.ticket.image %}
                        <img src="{{ post.ticket.image.url }}" alt="{{ post.ticket.title }}">
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endif %}
{% endblock content %}
