body {
    box-sizing: border-box;
    background-color: white;
    color: black;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    width: 100%;
    padding: 5px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 5px;
    text-align: justify;
    background-color: #f8f8f8;
    color: #333;
    font-weight: bold;
}

nav a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
}

div {
    align-items: left;
    justify-content: left;
}

img {
    width: 10%;
    border-radius: 5px;
}

table, th, td {
    border: 1px solid black;
}

.border {
    border: solid 1px #000000;
    background-color: #ffffff;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    color: #333;
    font-weight: bold;
}

.case {
    width: 45%;
    padding: 5px;
}

.content {
    width: 95%;
    padding: 5px;
}

#id_rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #555;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    padding: 5px;
    width: 20%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.form-group input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #555;
}
